{% extends 'base.html.twig' %}

{% block title %}Bug{% endblock %}

{% block body %}
    <h1>Bug</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bug.id }}</td>
            </tr>
            <tr>
                <th>BugName</th>
                <td>{{ bug.BugName }}</td>
            </tr>
            <tr>
                <th>BugDescription</th>
                <td>{{ bug.BugDescription }}</td>
            </tr>
            <tr>
                <th>BugStatus</th>
                <td>{{ bug.BugStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bug_index') }}">back to list</a>

    <a href="{{ path('bug_edit', {'id': bug.id}) }}">edit</a>

    {{ include('bug/_delete_form.html.twig') }}
{% endblock %}
