{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Se Connecter</h5>
                    <form class="form-signin" action="{{ path('app_security_login') }}" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
                                   name="_username" value="{% if error %}{{ error.token.user }}{% endif %}"/>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se connecter</button>

                        <hr class="my-4">
                        <button class="btn btn-lg btn-secondary btn-block text-uppercase" href="{{ path('app_security_registration') }}">S'enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}