{% extends 'base.html.twig' %}

{% block title %}Feature{% endblock %}

{% block body %}
    <h1>Feature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature.id }}</td>
            </tr>
            <tr>
                <th>FeatureName</th>
                <td>{{ feature.FeatureName }}</td>
            </tr>
            <tr>
                <th>FeatureDescription</th>
                <td>{{ feature.FeatureDescription }}</td>
            </tr>
            <tr>
                <th>FeatureNotationPos</th>
                <td>{{ feature.FeatureNotationPos }}</td>
            </tr>
            <tr>
                <th>FeatureNotationNeg</th>
                <td>{{ feature.FeatureNotationNeg }}</td>
            </tr>
            <tr>
                <th>FeatureType</th>
                <td>{{ feature.FeatureType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('feature_index') }}">back to list</a>

    <a href="{{ path('feature_edit', {'id': feature.id}) }}">edit</a>

    {{ include('feature/_delete_form.html.twig') }}
{% endblock %}
