{% extends 'base.html.twig' %}

{% block title %}FAQ index{% endblock %}

{% block body %}
    <h1>FAQ index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FAQQuestion</th>
                <th>FAQAnswer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for f_a_q in f_a_qs %}
            <tr>
                <td>{{ f_a_q.id }}</td>
                <td>{{ f_a_q.FAQQuestion }}</td>
                <td>{{ f_a_q.FAQAnswer }}</td>
                <td>
                    <a href="{{ path('f_a_q_show', {'id': f_a_q.id}) }}">show</a>
                    <a href="{{ path('f_a_q_edit', {'id': f_a_q.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('f_a_q_new') }}">Create new</a>
{% endblock %}
